<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.device.access.mapper.TDeviceSmokeMapper">

    <select id="findSmokeDevice" resultType="java.lang.Long">
        SELECT imei from t_device_smoke
    </select>

    <select id="findSmokeIds" resultType="java.lang.Long">
        SELECT id from t_device_smoke
    </select>

    <select id="selectDeviceSmoke" parameterType="com.smart.device.common.access.entity.vo.DeviceBaseVo" resultType="com.smart.device.common.access.entity.vo.DeviceBaseVo">
        select * from t_device_Smoke t where t.delete_flag = 0
        <if test="vo.id != null ">
            and t.id = #{vo.id}
        </if>
        <if test="vo.imei != null ">
            and t.imei = #{vo.imei}
        </if>
        order by t.create_time desc limit 1
    </select>

    <select id="selectSmokeAllHigh" parameterType="com.smart.device.common.access.entity.vo.DeviceBaseVo" resultType="com.smart.device.common.access.entity.vo.DeviceBaseVo">
        select t.id deviceId,t.device_type from t_device_smoke t,t_device_dict t1 where t.device_type = t1.device_type and t1.`status` = 2 and t1.heart_interval  &lt; 10 ;
    </select>
    <select id="selectSmokeAllLow" parameterType="com.smart.device.common.access.entity.vo.DeviceBaseVo" resultType="com.smart.device.common.access.entity.vo.DeviceBaseVo">
        select t.id deviceId,t.device_type from t_device_smoke t,t_device_dict t1 where t.device_type = t1.device_type and t1.`status` = 2 and t1.heart_interval  &gt; 10 ;
    </select>

    <select id="selectOffLineList" parameterType="com.smart.device.common.access.entity.vo.DeviceRedisVo" resultType="com.smart.device.common.access.entity.vo.DeviceRedisVo">
        select t.id,t.imei,t.device_state from t_device_smoke t where t.`status` = 2
    </select>

</mapper>
