<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.device.access.mapper.TDeviceGasMapper">

    <select id="findGasDevice" resultType="Long">
        SELECT imei
        from t_device_gas
    </select>

    <select id="findGasIds" resultType="Long">
        SELECT id
        from t_device_gas
    </select>
</mapper>
