<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.device.access.mapper.TUserInfoTypeMapper">

    <resultMap id="base" type="com.smart.device.common.access.entity.UserInfoType">
        <id property="id" column="id"/>
        <result property="partId" column="part_id"/>
        <result property="deviceType" column="device_type"/>
    </resultMap>

    <select id="getDictByDeviceType" resultMap="base">
        select * from t_device_userinfo_type t where t.part_id=#{partId}
    </select>

</mapper>
