<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.card.common.dict.mapper.TBaseDictMapper">


    <select id="tBaseDictList" parameterType="com.smart.card.common.dict.entity.TBaseDict" resultType="com.smart.card.common.dict.entity.TBaseDict">
        SELECT * from t_base_dict t where t.delete_flag = 0
        <if test="vo.dictTypeId != null and vo.dictTypeId != '' ">
            and t.dict_type_id = #{vo.dictTypeId}
        </if>
        ORDER BY t.sortno asc
    </select>
    <select id="tBaseDictListNopage" parameterType="java.lang.String" resultType="com.smart.card.common.dict.entity.DictDto">
        SELECT * from t_base_dict t where t.delete_flag = 0
        <if test="dictTypeId != null and dictTypeId != '' ">
            and t.dict_type_id = #{dictTypeId}
        </if>
        ORDER BY t.sortno asc
    </select>
    <select id="findAll" resultType="com.smart.card.common.dict.entity.TBaseDict">
        SELECT * from t_base_dict t where t.delete_flag = 0
    </select>
    <select id="findMax" parameterType="com.smart.card.common.dict.entity.TBaseDict" resultType="java.lang.Integer">
        SELECT max(t.unique_id) from t_base_dict t where t.delete_flag = 0
    </select>
    <select id="selectNameById" resultType="java.lang.String">
        SELECT dict_name FROM `t_base_dict` where dict_id = #{dictId};
    </select>
</mapper>
