<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.brd.manage.base.mapper.TDeviceInstallMapper">


    <select id="tDeviceInstallList" parameterType="com.smart.brd.manage.base.entity.TDeviceInstall" resultType="com.smart.brd.manage.base.entity.TDeviceInstall">
        SELECT * from t_device_install t where t.delete_flag = 0
        <if test="vo.deptIds != null and vo.deptIds != '' ">
            and t.dept_id in (${vo.deptIds})
        </if>
        <if test="vo.type != null ">
            and t.type = #{vo.type}
        </if>
        <if test="vo.deviceType != null ">
            and t.device_type = #{vo.deviceType}
        </if>
        <if test="vo.suitable != null and vo.suitable != ''">
            and t.suitable = #{vo.suitable}
        </if>
        <if test="vo.shedId != null ">
            and t.shed_id = #{vo.shedId}
        </if>
        <if test="vo.bedId != null ">
            and t.bed_id = #{vo.bedId}
        </if>
        <if test="vo.deviceName != null ">
            and t.device_name like concat('%',#{vo.deviceName},'%')
        </if>
        <if test="vo.deviceCode != null ">
            and t.device_code like concat('%',#{vo.deviceCode},'%')
        </if>
        <if test="vo.location != null ">
            and t.location like concat('%',#{vo.location},'%')
        </if>
        <if test="vo.startTime != null and vo.startTime != '' ">
            and DATE(t.create_time) &gt;= #{vo.startTime}
        </if>
        <if test="vo.endTime != null and vo.endTime != '' ">
            and DATE(t.create_time) &lt;= #{vo.endTime}
        </if>
        ORDER BY t.create_time desc
    </select>


</mapper>
