<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.card.manage.mapper.BsCityMapper">


    <select id="bsCityList" parameterType="com.smart.card.manage.entity.BsCity" resultType="com.smart.card.manage.entity.BsCity">
        SELECT * from bs_city t where t.delete_flag = 0
        <if test="vo.deptIds != null and vo.deptIds != '' ">
            and t.dept_id in (${vo.deptIds})
        </if>
        ORDER BY t.create_time desc
    </select>


</mapper>
