<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.brd.manage.base.mapper.area.BsCountyMapper">

    <select id="queryCountysByCode" resultType="com.smart.brd.manage.base.entity.area.TBaseRegion" parameterType="java.lang.String">
        select t.county_code regionCode,t.county_name regionName,t.level from bs_county t
        <where>
            <if test="code != null and code != ''">
                t.city_code = #{code}
            </if>
        </where>
    </select>

    <select id="queryCountyByCode" resultType="com.smart.brd.manage.base.entity.area.TBaseRegion" parameterType="java.lang.String">
        select t.county_code regionCode,t.county_name regionName,t.level from bs_county t
        where t.county_code = #{code}
    </select>
</mapper>
