<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.brd.manage.base.mapper.area.BsStreetMapper">

    <select id="queryStreetsByCode" resultType="com.smart.brd.manage.base.entity.area.TBaseRegion" parameterType="java.lang.String">
       select t.street_code regionCode,t.street_name regionName,t.level from bs_street t
        <where>
            <if test=" code != null and code != '' ">
                t.county_code = #{code}
            </if>
        </where>
    </select>

    <select id="queryStreetByCode" resultType="com.smart.brd.manage.base.entity.area.TBaseRegion" parameterType="java.lang.String">
        select t.street_code regionCode,t.street_name regionName,t.level from bs_street t
        where t.street_code = #{code}
    </select>

</mapper>
