<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.card.manage.mapper.TPoolPackageUseMapper">


    <select id="tPoolPackageUseList" parameterType="com.smart.card.manage.entity.TPoolPackageUse" resultType="com.smart.card.manage.entity.TPoolPackageUse">
        SELECT * from t_pool_package_use t where t.delete_flag = 0
        <if test="vo.poolNbr != null ">
            and t.pool_nbr = #{vo.poolNbr}
        </if>
        <if test="vo.date != null and vo.date != '' ">
            and t.date = #{vo.deptIds}
        </if>
        <if test="vo.deptIds != null and vo.deptIds != '' ">
            and t.dept_id in (${vo.deptIds})
        </if>
    </select>
    <select id="getUseByDate" resultType="com.smart.card.manage.entity.TPoolPackageUse">
        select * from t_pool_package_use t where t.delete_flag = 0
        and t.pool_nbr = #{nbr} and t.date = #{date}
    </select>


</mapper>
