<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.device.install.mapper.TBaseCompanyMapper">

    <select id="selectCompanys" resultType="com.smart.device.common.install.entity.TBaseCompany" parameterType="com.smart.device.common.install.entity.TBaseCompany">
        select id,company_name companyName from t_base_company t where t.delete_flag = 0
         <if test="vo.id != null ">
            and t.id = #{vo.id}
        </if>
        <if test="vo.companyName != null and vo.companyName != ''">
            and t.company_name like concat('%',#{vo.companyName},'%')
        </if>
        <if test="vo.province != null and vo.province != ''">
            and t.province = #{vo.province}
        </if>
        <if test="vo.city != null and vo.city != ''">
            and t.city = #{vo.city}
        </if>
        <if test="vo.county != null and vo.county != ''">
            and t.county = #{vo.county}
        </if>
        <if test="vo.town != null and vo.town != ''">
            and t.town = #{vo.town}
        </if>
        ORDER BY t.id desc
    </select>

    <select id="baseCompanyList" parameterType="com.smart.device.common.install.entity.TBaseCompany" resultType="com.smart.device.common.install.entity.TBaseCompany">
        SELECT * from t_base_company t where t.delete_flag = 0
        <if test="vo.id != null ">
            and t.id = #{vo.id}
        </if>
        <if test="vo.province != null and vo.province != ''">
            and t.province = #{vo.province}
        </if>
        <if test="vo.city != null and vo.city != ''">
            and t.city = #{vo.city}
        </if>
        <if test="vo.county != null and vo.county != ''">
            and t.county = #{vo.county}
        </if>
        <if test="vo.town != null and vo.town != ''">
            and t.town = #{vo.town}
        </if>
        ORDER BY t.id desc
    </select>

    <select id="queryCompanyCanDel" parameterType="com.smart.device.install.entity.vo.DeviceVo" resultType="java.lang.Integer">
        select count(*) countx from t_base_building t where t.company_id = #{companyId}  ;
    </select>

    <select id="selectByWhere" parameterType="com.smart.device.common.install.entity.TBaseCompany" resultType="com.smart.device.common.install.entity.TBaseCompany">
        SELECT * from t_base_company t where t.delete_flag = 0
        <if test="vo.id != null ">
            and t.id = #{vo.id}
        </if>
        <if test="vo.companyName != null and vo.companyName != ''">
            and t.company_name like concat('%',#{vo.companyName},'%')
        </if>
        <if test="vo.phone != null ">
            and (t.incharge_phone = #{vo.phone} or t.manager_phone = #{vo.phone} or t.incharge_phone = #{vo.phone} )
        </if>
        <if test="vo.province != null and vo.province != ''">
            and t.province = #{vo.province}
        </if>
        <if test="vo.city != null and vo.city != ''">
            and t.city = #{vo.city}
        </if>
        <if test="vo.county != null and vo.county != ''">
            and t.county = #{vo.county}
        </if>
        <if test="vo.town != null and vo.town != ''">
            and t.town = #{vo.town}
        </if>
        ORDER BY t.id desc limit 1
    </select>

    <select id="selectSysDeptBy" parameterType="com.smart.device.install.entity.vo.Dept" resultType="com.smart.device.install.entity.vo.Dept">
        SELECT * from iot2.t_dept t where dept_id = #{vo.deptId}
    </select>

    <insert id="insertSysDeptBy" parameterType="com.smart.device.install.entity.vo.Dept" >
        insert into iot2.t_dept(dept_id,dept_name,dept_code,dept_address,longitude,latitude,province,city,county,town)
        values (#{vo.deptId}, #{vo.deptName}, #{vo.deptCode}, #{vo.deptAddress}, #{vo.longitude},#{vo.latitude},#{vo.province},#{vo.city},#{vo.county},#{vo.town})
    </insert>

    <update id="updateSysDept" parameterType="com.smart.device.install.entity.vo.Dept">
        update iot2.t_dept
        <set>
            <if test="vo.deptName != null ">
                dept_name = #{vo.deptName},
            </if>
            <if test="vo.deptCode != null ">
                dept_code = #{vo.deptCode},
            </if>
            <if test="vo.deptAddress != null ">
                dept_address = #{vo.deptAddress},
            </if>
            <if test="vo.longitude != null ">
                longitude = #{vo.longitude},
            </if>
            <if test="vo.latitude != null ">
                latitude = #{vo.latitude},
            </if>
            <if test="vo.province != null and vo.province != ''">
                province = #{vo.province},
            </if>
            <if test="vo.city != null and vo.city != ''">
                city = #{vo.city},
            </if>
            <if test="vo.county != null and vo.county != ''">
                county = #{vo.county},
            </if>
            <if test="vo.town != null and vo.town != ''">
                town = #{vo.town}
            </if>
        </set>
        where dept_id = #{vo.deptId}
    </update>

    <update id="deleteSysDept" parameterType="com.smart.device.install.entity.vo.Dept">
        delete from iot2.t_dept where dept_id = #{vo.deptId} ;
    </update>


</mapper>
