<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.device.install.mapper.inspection.TBaseInspectionMapper">

    <select id="baseInspectionList" parameterType="com.smart.device.common.install.entity.TBaseInspection" resultType="com.smart.device.common.install.entity.TBaseInspection">
        SELECT * from t_base_inspection t where t.delete_flag = 0
        <if test="vo.id != null ">
            and t.id = #{vo.id}
        </if>
        <if test="vo.companyId != null ">
            and t.company_id = #{vo.companyId}
        </if>
        <if test="vo.companyName != null and vo.companyName != ''">
            and t.company_name like concat('%',#{vo.companyName},'%')
        </if>
        <if test="vo.status != null ">
            and t.status = #{vo.status}
        </if>
        <if test="vo.type != null ">
            and t.type = #{vo.type}
        </if>
        order by t.create_time desc
    </select>

    <resultMap id="myResultMap" type="com.smart.device.common.install.entity.TBaseInspection">
        <id property="id" column="id"/>
        <result property="companyId" column="company_id"/>
        <result property="companyName" column="company_name"/>
        <result property="period" column="period"/>
        <result property="claim" column="claim"/>
        <result property="pointNum" column="point_num"/>
        <result property="firefighterId" column="firefighter_id"/>
        <result property="firefighterName" column="firefighter_name"/>
        <result property="phone" column="phone"/>
        <result property="status" column="status"/>
        <result property="sortNo" column="sort_no"/>
        <result property="curBuildingId" column="cur_building_id"/>

        <collection property="insBuilds" column="building_id"
                    javaType="ArrayList" ofType="com.smart.device.common.install.entity.TBaseInsBuild">
            <id property="id" column="ins_building_id"/>
            <result property="buildingId" column="building_id"/>
            <result property="buildingName" column="building_name"/>
            <result property="floorCount" column="floor_count"/>
            <result property="floorMin" column="floor_min"/>
            <result property="floorMax" column="floor_max"/>
            <result property="buildPointNum" column="build_point_num"/>
            <result property="status" column="status"/>
            <result property="content" column="content"/>

        </collection>
    </resultMap>

    <select id="insAndInsBuildsList" resultMap="myResultMap" parameterType="com.smart.device.common.install.entity.TBaseInspection">
        select t.cur_building_id,t.sort_no,t.id,t.company_id,t.company_name,t.period,t.claim,t.point_num,
        t.firefighter_id,t.firefighter_name,t.phone,t.status,
        b.id ins_building_id,b.building_id,b.building_name,b.floor_count,b.floor_max,b.floor_min,b.build_point_num
        from t_base_inspection t,t_base_ins_build b where t.id = b.inspection_id and b.build_point_num > 0
        and t.delete_flag = 0
        <if test="vo.inspectionId != null ">
            and t.id = #{vo.inspectionId}
        </if>
        <if test="vo.companyId != null ">
            and t.company_id = #{vo.companyId}
        </if>
        <if test="vo.firefighterId != null ">
            and t.firefighter_id = #{vo.firefighterId}
        </if>
        <if test="vo.status != null ">
            and b.status = #{vo.status}
        </if>
        <if test="vo.status != null ">
            and t.status = #{vo.status}
        </if>
        <if test="vo.id != null ">
            and t.id = #{vo.id}
        </if>
          order by t.create_time desc
    </select>

</mapper>
