<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wlw.smart.fire.system.dao.DeptMapper">

    <select id="getDeptIdByDeptName" parameterType="string" resultType="wlw.smart.fire.system.domain.po.Dept">
        SELECT *
        from t_dept t
        where t.DEPT_NAME = #{0}
    </select>

    <select id="findDeptPage" parameterType="wlw.smart.fire.system.domain.po.Dept" resultType="wlw.smart.fire.system.domain.po.Dept">
        SELECT t.* from t_dept t
        <where>
            <if test="vo.deptIds != null and vo.deptIds != '' ">
                and t.dept_id in (${vo.deptIds})
            </if>
        </where>
    </select>

    <select id="getDeptIdByDeptName" parameterType="string" resultType="wlw.smart.fire.system.domain.po.Dept">
        SELECT * from t_dept t where t.DEPT_NAME = #{0}
    </select>
    <select id="deptNameQuery"  resultType="java.lang.Long">
        SELECT Count(0) from t_dept t where t.parent_id = #{parentId} and t.DEPT_NAME = #{deptName}
    </select>
    
    <select id="queryDeptSons" parameterType="wlw.smart.fire.system.domain.po.Dept" resultType="wlw.smart.fire.system.domain.po.Dept">
        SELECT t.* from t_dept t where t.dept_id > 0
        <if test="vo.deptId != null ">
            and t.parent_id = #{vo.deptId}
        </if>
    </select>


</mapper>