<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.card.sys.system.dao.UserMapper">

    <select id="findUserDetail" resultType="com.smart.card.sys.system.domain.po.User"
            parameterType="com.smart.card.sys.system.domain.po.User">
        SELECT u.*,
        d.dept_id                 deptId,
        d.dept_name               deptName,
        GROUP_CONCAT(r.role_id)   roleId,
        GROUP_CONCAT(r.ROLE_NAME) roleName
        FROM
        t_user u
        LEFT JOIN t_dept d ON (u.dept_id = d.dept_id)
        LEFT JOIN t_user_role ur ON (u.user_id = ur.user_id)
        LEFT JOIN t_role r ON r.role_id = ur.role_id
        <where>
            <if test="user.condition != null and user.condition != ''">
                and (
                u.username like concat('%', #{user.condition}, '%')
                or u.mobile like concat('%', #{user.condition}, '%')
                )
            </if>
            <if test="user.isXcx != null and user.isXcx != ''">
                and u.is_xcx = #{user.isXcx}
            </if>
            <if test="user.isShow != null and user.isShow != ''">
                and u.is_show = #{user.isShow}
            </if>
            and !ISNULL(u.dept_id)
            and u.user_id > 0
        </where>
        group by u.username,
        u.user_id,
        u.password,
        u.email,
        u.mobile,
        u.STATUS,
        u.create_time,
        u.gender,
        d.dept_id,
        d.dept_name,
        u.AVATAR,
        u.DESCRIPTION,
        u.LAST_LOGIN_TIME
    </select>

    <select id="findDetail" resultType="com.smart.card.sys.system.domain.po.User" parameterType="string">
        SELECT u.*,
               d.dept_id                 deptId,
               d.dept_name               deptName,
               GROUP_CONCAT(r.role_id)   roleId,
               GROUP_CONCAT(r.ROLE_NAME) roleName
        FROM t_user u
                 LEFT JOIN t_dept d ON (u.dept_id = d.dept_id)
                 LEFT JOIN t_user_role ur ON (u.user_id = ur.user_id)
                 LEFT JOIN t_role r ON r.role_id = ur.role_id
        WHERE u.username = #{username}
        group by u.username,
                 u.user_id,
                 u.password,
                 u.email,
                 u.mobile,
                 u.STATUS,
                 u.create_time,
                 u.gender,
                 d.dept_id,
                 d.dept_name,
                 u.AVATAR,
                 u.DESCRIPTION,
                 u.LAST_LOGIN_TIME
    </select>

    <select id="querySysConfig" resultType="com.smart.card.sys.system.domain.vo.UserVo" >
        select t.time_expire from t_sys_config t where t.id = 1
    </select>
</mapper>